scop
*.o
*.o.d
*.a
*.out
*.pdf
*.cmake
*.make
*.marks
*.pc
*TargetDirectories.txt
*cmake.check_cache
*CMakeOutput.log
*CMakeRuleHashes.txt
*CMakeCache.txt
*compiler_depend.ts
*CMakeDetermineCompilerABI_C.bin
*CMakeCCompilerId.c
*link.txt
*.internal
*protocol.h
*protocol-code.h
.vscode
boing
gears
heightmap
offscreen
particles
sharing
splitview
triangle-opengl
triangle-opengles
wave
wind
windows
allocator
clipboard
cursor
empty
events
gamma
glfwinfo
icon
iconify
inputlag
joysticks
monitors
msaa
reopen
tearing
threads
timeout
title
triangle-vulkan
window