*.o
*.a
*.out
*.pdf
*.cmake
*.make
*.marks
*.pc
*TargetDirectories.txt
*cmake.check_cache
*CMakeOutput.log
*CMakeRuleHashes.txt
*CMakeCache.txt
*compiler_depend.ts
*CMakeDetermineCompilerABI_C.bin
*CMakeCCompilerId.c
*link.txt
.vscode